/*//общий формат*/

body {
  background-color: #e1f0f8;
  color: #484848;
  font-family: HelveticaNeueCyr,'Segoe UI',Arial,sans-serif;
}

/*//плитка для выбора ламинации*/

.images {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 4px;
}
.check {
  display: none;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
}

/*//мелкие картинки в блоке для описания ламинации*/

.img-left {
  float: left;
  padding-right: 15px;
}

/*//оформление чисел в блоке для описания ламинации*/

.numbers {
  border: solid black 2px;
  border-radius: 45px;
  padding: 5px 12px;
  margin: 3px 18px 0 0;
  float: left;
  font-weight: bold;
  font-size: 16px;
}

.for-num {
  margin-bottom: 15px;
  padding-left: 55px;
}

/*//список в блоке для описания ламинации*/

.plus>li>span {
  color: #484848;
}
.plus {
  color:#f47054 ;
}

/*//кнопка в блоке для описания ламинации*/

.promotion {
  background-color: #eb5825;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}

.promotion:focus {
  background-color: #eb5825;
  color: white;
}
.promotion:hover {
  background-color: #eb5825;
  color: white;
}

/*//оформление главного меню в шапке*/

.main-nav > ul > li > a:active {
  background-color: #7bc3d5;
  text-decoration: none;
}
.main-nav > ul > li > a:hover {
  background-color: #7bc3d5;
  text-decoration: none;
  color: white;
}

.main-nav > ul > li > a {
  color: #5f6973;
  font-size: 24px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-right: 1px solid #5f6973;
}

.main-nav ul li:last-child a {
  border-right: none;
}

.main-nav ul {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.main-nav > ul > li {
  display: inline-block;
  float: left;
  min-width: 218.5px;
}

/*//оформление шапки*/

.main-header, .main-nav {
  background-color: #fff;
  margin: 0 1px 0 2px;
}

.main-header {
  padding: 15px 20px;
}

/*//цена шапки*/

.cost {
  color: #f47054;
  font-size: 24px;
  text-align: right;
  text-decoration: underline;
}

.cost:hover {
  color: #f47054;
  text-decoration: none;
}

/*//контакты шапки*/

.contact {
font-size: 17px;
  text-align: right;
  margin: 7px 0 0 0;
}
.contact-phone {
  font-size: 30px;
}

/*//общий стиль для заголовков*/

h1, h3 {
  text-align: justify;
  text-indent: 2px;
}

h2 {
  text-indent: 5px;
}

/*//боковая панель*/

.links {
  color: #5f6973;
  text-decoration: underline;
}
.links:hover {
  color:#f47054;
}
.for-links {
  padding-bottom: 10px;
  list-style-type: none;
}

.panel-body >ul {
  margin-left: 0;
  padding-left: 0;
}

/*//ссылка для отзывов+кнопка для отзывов*/

.quest1 {
  margin-top: 27px ;
}
.quest {
  color:#f47054;
  text-decoration: underline;
  font-size: 19px;
}

.quest:hover {
  color:#f47054;
  text-decoration: underline;
}